<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Connexion</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if new_user %}
        <p>Nouvel utilisateur : <strong>{{ new_user }}</strong></p>
        <p>Autoriser cet utilisateur ?</p>
        <form method="post">
            <input type="hidden" name="username" value="{{ new_user }}">
            <button type="submit" name="action" value="autoriser">Oui</button>
            <button type="submit" name="action" value="refuser">Non</button>
        </form>
    {% else %}
       <form method="post">
    <p>Nom d'utilisateur:</p>
    <input type="text" name="username" id="username" placeholder="Ex: admin ou prénom" required oninput="checkAdmin()">

    <!-- 🔐 Champ caché au départ -->
    <div id="passwordField" style="display:none;">
        <p>Mot de passe:</p>
       <input type="password" name="password" placeholder="Mot de passe admin">
    </div>

    <br>
    <button type="submit">Se connecter</button>
</form>

<script>
function checkAdmin() {
    var username = document.getElementById("username").value;
    var passwordField = document.getElementById("passwordField");

    if (username === "admin") {
        passwordField.style.display = "block";
    } else {
        passwordField.style.display = "none";
    }
}
</script>
    {% endif %}

</body>
</html>